<h1>Competition App</h1>

<h2>Enter competitions below</h2>

<div ng-controller="CompetitionController as ctrl" ng-init="ctrl.init(<%= competitions_init(@competitions) %>)">
  <h3>Available competitions: {{ctrl.competitions.length}}</h3>

  <ul>
    <li ng-repeat="competition in ctrl.competitions">
      <a href="{{competition.link}}">{{competition.name}}</a>
    </li>
  </ul>
</div>